@model IEnumerable<CapaEntidad.entPedidosVenta>

@{
    ViewData["Title"] = "Listar";
    Layout = "~/Views/Shared/_Layout.cshtml"; // Aquí indicamos que use tu diseño con sidebar
}
    
<h1>Listar</h1>     

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id_pedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.id_cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.id_usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id_pedido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.id_cliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.id_usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estado)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id_pedido }) |
                    @Html.ActionLink("Details", "Details", new { id = item.id_pedido }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id_pedido })   
            </td>
        </tr>
}
    </tbody>
</table>
